.buttons {
  margin: 0 0 20px;
  display: flex;
  justify-content: space-between;
}

.left {
  margin: 0 -5px;
}

.left > button {
  margin: 0 5px;
}

.search {
  display: inline-block;
}

.table {
  width: 100%;
  table-layout: fixed;
}

.wide {
  width: 200px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.controls {
  opacity: 0;
}

.table tr:hover .controls {
  opacity: 1;
}